$main-color: #0582ca;
$main-color-transparent: #0582ca98;
$black-transparent: #0d0d0db6;
$dark: #051923;
$dark-transparent: #05192396;
$Red: hsl(0, 97%, 59%);
$green: hsla(120, 97%, 59%);
$Red-transparent: hsla(0, 97%, 59%, 0.308);
$green-transparent: hsla(120, 97%, 59%, 0.308);
