@use '_colors' as c;
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	position: relative;
	height: 100%;
	font-family: 'Hanken Grotesk', sans-serif;
}
body {
	background-color: c.$dark;
	overflow-x: hidden;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

img {
	height: auto;
}

input,
button,
textarea,
select {
	font-family: inherit;
	border: none;
}

button {
	border: none;
	cursor: pointer;
}

textarea {
	resize: vertical;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
//navigacja
.nav {
	position: absolute;
	display: flex;
	width: 100%;
	margin-top: 20px;
	align-items: center;
	justify-content: space-around;
	img {
		max-width: 150px;
	}
	&__searchWrapper {
		position: relative;
		width: 360px;
	}
	&__searchResult {
		position: absolute;
		width: 100%;
		height: 300px;
		top: 25px;
		overflow: hidden;
		overflow-y: auto;
		border-radius: 20px;
	}
	&__list {
		display: flex;
		justify-content: space-around;
		align-items: center;
		position: relative;
		min-width: 40%;
	}
	&__item {
		position: relative;
		color: white;
		text-transform: uppercase;
		z-index: 0;
		color: c.$main-color;
		font-size: 2rem;
	}
	&__item::before,
	&__item::after {
		content: '';
		position: absolute;
		width: 0px;
		height: 0px;
		transition: width 0.3s, height 0.3s;
	}
	&__item::before {
		top: -10px;
		left: -10px;
		border-top: 0px solid c.$main-color;
		border-left: 0px solid c.$main-color;
	}
	&__item::after {
		bottom: -10px;
		right: -10px;
		border-bottom: 0px solid c.$main-color;
		border-right: 0px solid c.$main-color;
	}
	&__item:hover::before,
	&__item:hover::after {
		width: 50%;
		height: 50%;
	}
	&__item:hover::before {
		border-top: 3px solid c.$main-color;
		border-left: 3px solid c.$main-color;
	}
	&__item:hover::after {
		border-bottom: 3px solid c.$main-color;
		border-right: 3px solid c.$main-color;
	}
	&__resultTile {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		width: 100%;
		height: 80px;
		background-color: c.$main-color;
		transition: scale 0.3s;
		cursor: pointer;
		img {
			width: 50px;
		}
	}
	&__resultTileh2 {
		width: 100px;
	}
	&__resultTile:not(:first-child) {
		margin-top: 7px;
	}
	&__resultTile:hover {
		scale: 1.1;
	}
	z-index: 1;
	&__search {
		position: relative;
		min-width: 360px;
		height: 60px;
		background-color: white;
		border-radius: 60px;
		transition: width 0.5s;
	}
	&__icon {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		top: 0;
		right: 0;
		padding: 15px;
		height: 60px;
		width: 60px;
		color: c.$main-color;
		cursor: pointer;
		z-index: 3000;
	}
	&__input {
		position: relative;
		width: 240px;
		height: 60px;
		left: 60px;
		display: flex;
		justify-content: center;
		align-items: center;
		input {
			position: absolute;
			width: 100%;
			height: 100%;
			border: none;
			outline: none;
			font-size: 18px;
		}
	}
}
.text-input {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 25px;
	padding-left: 1rem;
	border: none;
	background-color: transparent;
	border-bottom: 2px solid c.$main-color;
	color: #fff;
	font-size: 2rem;
	padding-bottom: 1rem;
}
.mobile-search {
	position: relative;
}
.mobile-nav-search-wrapper {
	width: 100%;
}
.nav-items {
	position: absolute;
	top: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 300px;
	gap: 2rem;
}
.nav-buttons {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	ul {
		list-style: none;
	}
}
.mobile-search-result {
	position: relative;
	top: 0;
	//border: 1px solid red;
	transition: width 0.3s, height 0.3s;
}
.text-input:focus {
	outline: none !important;
}
.text-input::placeholder {
	color: c.$main-color;
	font-weight: bold;
}
.text-input:not(:focus) + .mobile-search-result {
	width: 0;
	height: 0;
}
.menu-btn {
	position: relative;
	padding: 2rem;
	background-color: transparent;
	color: c.$main-color;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 1.5rem;
	cursor: pointer;
	img {
		width: 100px;
		height: 100px;
	}
}
.menu-btn::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 30px;
	height: 30px;
	border-top: 3px solid c.$main-color;
	border-left: 3px solid c.$main-color;
	transition: transform 0.3s;
}
.menu-btn::after {
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	width: 30px;
	height: 30px;
	border-right: 3px solid c.$main-color;
	border-bottom: 3px solid c.$main-color;
	transition: transform 0.3s;
}
.menu-btn:hover::before {
	transform: translate(-5px, -5px);
}

.menu-btn:hover::after {
	transform: translate(5px, 5px);
}
.nav-desktop {
	margin-right: 5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

//Hero grafika
.header {
	color: white;
	display: flex;
	justify-content: center;
	h1 {
		text-transform: uppercase;
		font-size: 2vw;
		font-weight: 500;
	}
	h1::before {
		content: '';
		position: absolute;
		bottom: 50%;
		left: 28%;
		width: 50px;
		height: 50px;
		border-top: 3px solid c.$main-color;
		border-left: 3px solid c.$main-color;
	}
	h1::after {
		content: '';
		position: absolute;
		top: 50%;
		right: 28%;
		width: 50px;
		height: 50px;
		border-bottom: 3px solid c.$main-color;
		border-right: 3px solid c.$main-color;
	}
	&__hero-img {
		position: relative;
		height: 100vh;
		width: 100vw;
		background-image: url('../Img/hero-image.jpg');
		background-position: center;
		background-size: cover;
		background-attachment: fixed;
		z-index: 0;
		overflow-x: hidden;
	}
	&__hero-shadow {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: c.$black-transparent;
		z-index: -10;
	}
	&__hero-text {
		display: flex;
		height: 100%;
		justify-content: center;
		align-items: center;
		z-index: 5;
	}
}
// Main
.main {
	position: sticky;
	top: 0px;
	left: 0px;
	display: flex;
	justify-content: center;
	padding-top: 40px;
	color: white;
	z-index: 2;
	width: 100%;
	height: 100%;
	h2 {
		text-transform: uppercase;
		font-size: 2rem;
		z-index: -10;
	}
	h3 {
		z-index: -10;
	}
	&__tile img {
		width: 100%;
		height: 100%;
		border-radius: 15px;
		transform: scale(0.9);
		object-fit: cover;
		transition: transform 0.3s;
		cursor: pointer;
	}
	&__tile a {
		cursor: auto;
	}
	&__tile {
		position: relative;
		padding-bottom: 70px;
		width: 220px;
		height: 350px;
		text-align: center;
	}
	&__tiles {
		position: absolute;
		display: flex;
		justify-content: center;
		flex-direction: column;
		margin-top: 200px;
		width: 50%;
		gap: 2rem;
	}
	&__tile-info {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	&__tile img:hover {
		transform: scale(1);
	}
	&__active {
		pointer-events: none;
		z-index: 1000;
	}
}
.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	min-width: 250px;
	height: 500px;
	border-radius: 20px;
	overflow: hidden;
	border: 1px solid c.$main-color;
	padding: 2rem;
	color: #fff;
	cursor: pointer;
	gap: 2rem;
	margin: 2rem 2rem 0rem 0rem;
	transition: box-shadow 0.3s;
}

.card img {
	border-radius: 20px;
	width: 225px;
	height: 333px;
}
.card-holder {
	position: relative;
	overflow-y: hidden;
	display: flex;
	align-items: center;
	width: 100%;
	height: 600px;
	transition: height 0.3s, opacity 0.3s;
}
.card-holder::-webkit-scrollbar {
	width: 12px;
}

.card-holder::-webkit-scrollbar-track {
	background: transparent;
}

.card-holder::-webkit-scrollbar-thumb {
	background-color: c.$main-color;
	border-radius: 20px;
}
.card-hidden {
	height: 0px;
	pointer-events: none;
	opacity: 0;
}
#prevButton {
	position: absolute;
	top: 50%;
}
#nextButton {
	position: absolute;
	top: 50%;
	left: 95%;
}
.anime-title {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 200px;
}
.anime-title:hover {
	text-overflow: unset;
	white-space: normal;
}
.opening-title {
	font-size: 1.7rem;
	font-weight: 700;
}
.author {
	font-size: 1.3rem;
}
.buttons i {
	font-size: 2rem;
	margin: 0rem 1rem;
}
.clickable-bar {
	background-color: transparent;
	border: 3px solid c.$main-color;
	cursor: pointer;
	border-radius: 10px;
	padding: 1.5rem;
	transition: box-shadow 0.3s;
}
.bar {
	text-align: center;
	width: 100%;
}

.h3center {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 189px;
	height: 80px;
}
.test {
	opacity: 1;
	top: -10%;
}

//player
.player {
	position: fixed;
	top: 50%;
	right: 50%;
	transform: translate(50%, -50%);
	width: 70%;
	height: 70%;
	border-radius: 20px;
	z-index: 9999;
	pointer-events: none;
}

.player-bcg-container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.player-background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	filter: blur(10px);
	transform: scale(1.04);
}
.player-controlls {
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 9000;
	width: 50%;
	top: 92.5%;
	left: 50%;
	border-radius: 30px;
	transform: translate(-50%, -50%);
	background-color: rgba($color: #333, $alpha: 0.6);
}
.center {
	width: 100%;
	height: 100%;
}

.player-btns {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 20px;
	left: 10%;
}
.player__notactive {
	display: none;
}
.player-btn {
	text-align: center;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: c.$main-color;
}
.volume-section {
	display: flex;
	align-items: center;
	width: 25%;
}
.time-slider {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 20px 0px 20px 0px;
	color: #fff;
}
i {
	scale: 1.5;
}
.timeh3 {
	margin: 0px 20px 0px 20px;
}
//slider
input[type='range'] {
	-webkit-appearance: none;
	appearance: none;

	width: 75%;
	cursor: pointer;
	outline: none;

	overflow: hidden;
	border-radius: 16px;
}
//Chrome chyba xd(slider)
input[type='range']::-webkit-slider-runnable-track {
	height: 15px;
	background: #ccc;
	border-radius: 16px;
}
input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;

	height: 15px;
	width: 15px;
	background-color: #fff;
	border-radius: 50%;
	border: 2px solid c.$main-color;

	box-shadow: -407px 0 0 400px c.$main-color;
}
//mozilla(slider)
input[type='range']::-moz-range-track {
	height: 15px;
	background: #ccc;
	border-radius: 16px;
}
input[type='range']::-moz-slider-thumb {
	-moz-appearance: none;
	appearance: none;

	height: 15px;
	width: 15px;
	background-color: #fff;
	border-radius: 50%;
	border: 2px solid c.$main-color;

	box-shadow: -407px 0 0 400px c.$main-color;
}
// Opera(slider)
input[type='range']::-o-range-track {
	height: 15px;
	background: #ccc;
	border-radius: 16px;
}

input[type='range']::-o-range-thumb {
	height: 15px;
	width: 15px;
	background-color: #fff;
	border-radius: 50%;
	border: 2px solid var(--logo-color);
	box-shadow: -407px 0 0 400px var(--logo-color);
}

// Edge(slider)
input[type='range']::-ms-track {
	height: 15px;
	background: #ccc;
	border-radius: 16px;
}

input[type='range']::-ms-thumb {
	height: 15px;
	width: 15px;
	background-color: #fff;
	border-radius: 50%;
	border: 2px solid var(--logo-color);
	box-shadow: -407px 0 0 400px var(--logo-color);
}
.slider:hover {
	opacity: 1;
}
.volume-section .slider__volume {
	width: 0%;
	transition: width 0.3s ease;
}
.volume-section:hover > .slider__volume {
	display: block;
	width: 75%;
}
//form
.form-container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 50%;
	height: 50%;
	background-color: c.$main-color;
	border-radius: 20px;
}
.form-img {
	background-image: url(../Img/FormImg.png);
	width: 50%;
	height: 100%;
	background-size: cover;
	background-position: center;
}
.form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 50%;
	height: 100%;
	h2 {
		text-align: center;
		margin-bottom: 40px;
		font-size: 2rem;
	}
	&__input {
		background-color: transparent;
		border-bottom: 2px solid c.$dark;
		padding: 5px;
		margin: 20px;
		font-size: 1.7rem;
		outline: none;
	}
}
label {
	position: absolute;
	left: 15px;
	top: 10px;
	font-size: 1.5rem;
	transition: color 0.3s, top 0.3s;
}
input:focus ~ label,
input:not(:placeholder-shown) ~ label {
	color: c.$dark;
	top: -10px;
}
.user-info {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 1.5rem;
}
.edit-current-data {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 90%;
}
.edit-current-p {
	color: c.$main-color;
	text-decoration: underline;
	cursor: pointer;
}
.change-email-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	top: 70px;
	pointer-events: all;
	opacity: 1;
	transition: all 0.3s;
}
.change-dissabled {
	top: 0px;
	pointer-events: none;
	opacity: 0;
}
//burger styling
.burger-menu {
	display: flex;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translate(0%, -50%);
	width: 50px;
	height: 50px;
}
.burger-bars {
	position: absolute;
	width: 100%;
	height: 10%;
	background-color: white;
	border-radius: 20px;
}
.burger-bars::before {
	content: '';
	position: absolute;
	width: 50%;
	height: 100%;
	background-color: white;
	border-radius: 20px;
	top: 20px;
	right: 0%;
	transition: width 0.3s;
}
.burger-bars::after {
	content: '';
	position: absolute;
	width: 75%;
	height: 100%;
	background-color: white;
	border-radius: 20px;
	top: 10px;
	right: 0%;
	transition: width 0.3s;
}
.input-container {
	position: relative;
}
.change .burger-bars::before {
	width: 100%;
}
.change .burger-bars::after {
	width: 100%;
}
.mobile-nav {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	right: -200px;
	width: 0%;
	height: 100%;
	background-color: c.$black-transparent;
	overflow-x: none;
	transition: width 0.5s, right 0.5s;
}
.mobile-nav-change {
	width: 100%;
	border: transparent 1px solid;
	right: 0;
}
.h1-disable {
	display: none;
}
.submitBtn {
	width: 40%;
	border-radius: 20px;
	padding: 5px 20px 5px 20px;
	background-color: c.$dark;
	color: white;
	border: none;
	margin-top: 20px;
	text-transform: uppercase;
	font-size: 1.4rem;
	font-weight: bold;
}
.submitBtn:hover {
	cursor: pointer;
}
//login form
.login-form {
	display: flex;
	width: 500px;
	height: 500px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	background-color: c.$main-color;
	border-radius: 20px;
	gap: 2rem;
	p {
		font-size: 1.2rem;
		strong {
			color: c.$dark;
			cursor: pointer;
		}
	}
}
.register-success {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	left: 50%;
	top: -150px;
	transform: translate(-50%);
	width: 500px;
	height: 150px;
	border: lime 1px solid;
	border-radius: 20px;
	background-color: #146eeb70;
	color: #fff;
	font-size: 2rem;
	transition: top 0.3s;
}
//user list
.avatar {
	position: absolute;
}
.user-list {
	position: relative;
	top: 0px;
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s;
}
.list-item {
	position: absolute;
	width: 120px;
	left: 50%;
	transform: translate(-50%);
}
.list-item:nth-of-type(2) {
	top: 75px;
}
.user-list-vissible {
	opacity: 1;
	top: 100px;
	pointer-events: all;
}
.user-panel {
	background-color: c.$main-color-transparent;
	border-radius: 20px;
	width: 500px;
	height: 500px;
	padding: 3rem;
}
.user-avatar {
	position: relative;
	width: 100px;
	.settings-avatar {
		position: relative;
		width: 100px;
		height: 100px;
	}
	.edit-icon {
		position: absolute;
		z-index: 1;
		background-color: #fff;
		border-radius: 50%;
		padding: 2px;
		right: 0;
		color: #000;
		cursor: pointer;
	}
	label {
		width: 100%;
	}
}

//other
.vissible {
	top: 0;
}
.hidden {
	display: none;
}
@media (max-width: 820px) {
	/* Reguły CSS dla małych ekranów */
	.main {
		&__tiles {
			width: 90%;
		}
	}
	.header {
		h1 {
			font-size: 4vw;
		}
		h1::before {
			bottom: 50%;
			left: 5%;
		}
		h1::after {
			top: 50%;
			right: 5%;
		}
		&__hero-img {
			background-position: 25% 25%;
		}
	}
	.nav {
		width: 90%;
		justify-content: flex-start;
		img {
			max-width: 100px;
		}
		&__searchWrapper {
			display: none;
		}
	}
	.spacing {
		width: 60%;
	}
	.volume-section {
		display: none;
	}
	.player-btns {
		left: 0%;
	}
	.player-controlls {
		width: 100%;
	}
	.form-img {
		display: none;
	}
	.player {
		top: 40%;
		width: 100%;
		height: 30%;
	}
	.player-background {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 1500px;
	}
	.nav-desktop {
		display: none;
	}
	.anchor {
		h2 {
			text-align: center;
		}
	}
}

@media (min-width: 820px) and (max-width: 1200px) {
	/* Reguły CSS dla średnich ekranów */
	header {
		h1 {
			font-size: 2.7vw;
		}
		h1::before {
			bottom: 50%;
			left: 20%;
		}
		h1::after {
			top: 50%;
			right: 20%;
		}
	}
	nav {
		img {
			max-width: 100px;
		}
	}
	.burger-menu {
		display: none;
	}
}

@media (min-width: 1201px) {
	/* Reguły CSS dla dużych ekranów */
	.burger-menu {
		display: none;
	}
}
